.blaze-jump-status-bar {
    font-size: xx-small;
    border-radius: 5px;
    display: inline-grid;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 13px;
    margin: -3px;
    padding-left: 4px;
    padding-right: 4px;
}

/*noinspection CssUnresolvedCustomProperty*/
.blaze-jump-layout-bar {
    border-radius: 5px;
    font-family: Courier, monospace;
    font-size: xx-small;
    display: inline-grid;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 10px;
    margin-left: -4px;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    border: thin solid var(--color-base-60);
    color: var(--color-base-70);
}

/*noinspection CssUnresolvedCustomProperty*/
.blaze-jump-layout-bar:hover {
    background-color: var(--background-modifier-hover);
}

/*.blaze-jump-search-box {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.blaze-jump-search-tag {*/
/*    border-style: dashed;*/
/*    border-width: thin;*/
/*    position: relative;*/
/*    font-weight: bold;*/
/*    padding-left: 3px;*/
/*    padding-right: 3px;*/
/*    font-family: monospace;*/
/*    margin-top: -1px;*/
/*    overflow-wrap: normal;*/
/*    word-break: keep-all;*/
/*    white-space: pre;*/
/*    cursor: default;*/
/*}*/

/*!*noinspection CssUnresolvedCustomProperty*!*/
/*.blaze-jump-search-empty {*/
/*    background-color: var(--background-primary);*/
/*    font-family: var(--font-text-theme), monospace;*/
/*    font-size: var(--font-text-size) !important;*/
/*    color: var(--text-accent) !important;*/
/*    border-style: dashed;*/
/*    border-width: thin;*/
/*    position: relative;*/
/*    margin-top: -1px;*/
/*    overflow-wrap: normal;*/
/*    word-break: keep-all;*/
/*    white-space: pre;*/
/*    cursor: default;*/
/*}*/

.blaze-jump-area-tag {
    border-style: dashed;
    border-width: thin;
    position: absolute;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    font-family: monospace;
    margin-top: -1px;
    overflow-wrap: normal;
    word-break: keep-all;
    white-space: pre;
    cursor: default;
}

.blaze-jump-widget-pulse {
    position: absolute;
    z-index: -1;
    font-family: monospace;
    font-weight: bold;
    margin-top: -1px;
    overflow-wrap: normal;
    word-break: keep-all;
    white-space: pre;
    cursor: default;
}

@keyframes blaze-jump-content-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blaze-jump-pulse-pointer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.blaze-jump-bright-match {
    color: var(--text-normal) !important;
    opacity: 1 !important;
    border-radius: 3px;
    filter: brightness(1.5);
    font-weight: bold;
    text-shadow: 0 0 5px var(--text-accent);
}
